*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block-search{
    width: auto;
    padding: 10px;
    padding-left: 30px;
    background: #f7f7f7;
}
.search-input{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
}
.search-button{
    width: 50px;
    height: 50px;
    border-radius: 10px;

}
.search-button:hover{
    background-color: rgb(228, 228, 228);
    border: 3px black solid;
}
main{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
}
.block-filter{
    display: grid
;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(50, 2fr);
    gap: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.genre-text{
    padding: 5px;
    background: #f7f7f7;
    border-radius: 10px;
    text-align: center;
}
.genre-text:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition-duration: 250ms;
}
.block-films{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: max-content;
    gap: 10px;

}
.film{
    width: 360px;
    padding: 10px;
    height: 450px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}
.film-photo img{
    width: 300px;
    height: 330px;
    object-fit: fill;
}
.film-text{
    width: 150px;
    height: 20px;
}

.modal-seans-fade {
	display: none;
}
.modal-seans-fade:before {
	content: '';
	position: absolute;
    background: #000;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.modal-seans{
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}
