*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block-search{
    width: auto;
    padding: 10px;
    padding-left: 30px;
    background: #f7f7f7;
}
.search-input{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    font-size: larger;
}
.search-button{
    width: 50px;
    height: 50px;
    border-radius: 10px;

}
.search-button:hover{
    background-color: rgb(228, 228, 228);
    border: 3px black solid;
}
main{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
}
.block-filter{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2,0.1fr);
    gap: 5px;
    justify-content: center;
    justify-items: start;
    align-items: start;
    align-content: stretch;
}

.block-films{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.film{
    width: 360px;
    padding: 10px;
}
.film-photo img{
    width: 300px;
    height: 330px;
    object-fit: fill;
}
.film-text{
    width: 150px;
}